@{
    ViewBag.Title = "Riga";
    
    int lunghezza = ViewBag.Lunghezza;
    
    
}

<h2>Riga</h2>

<form action="~/Disegna/Riga" method="get" >
    <!--
    <input type="text" name="lunghezzaOld" value="@lunghezza" />
    -->

    <!--
    <select name="lunghezza1"  >
        <option>1</option>
        <option>2</option>
        <option >3</option>
        <option>4</option>
    </select>
    -->

    <select name="lunghezza">
        @for (int num = 1; num <= 40; num++) { 
            if(num == lunghezza){
                <option selected="selected">@num</option>
            } else {
                <option >@num</option>
            }
        }
    </select>



    <input type="submit" value="Mostra" />
</form>


<p>
    Disegno una riga lunga @lunghezza
</p>

<table>
    <tr>
        @for(int i = 0; i < lunghezza; i++){
            <td>*</td>
        }
    </tr>
</table>
<table>
    @for(int i = 0 ; i < lunghezza; i++){
    <tr>
        <td>*</td>
    </tr>
    }
</table>
