

<h2>Homepage</h2>

<p>contenuto index</p>


<!--
    Pagina generata il: @DateTime.Now
    -->



@*
commento razor
@Html.ActionLink("Vai a righe", "Righe", "Disegna")
*@

<!--
commento html
<a href="~/Disegna/Righe" >Vai a righe</a>
-->